/* CSS Variables */
:root {
  --dropdown-toolbar-height: 30px;
  --dropdown-toolbar-transition: 75ms linear 25ms; 
}

/* Tabbar dropdown animation */
#PersonalToolbar:not([customizing]){
  height: var(--dropdown-toolbar-height);
  margin-bottom: calc(-1 * var(--dropdown-toolbar-height));
  position: fixed !important;
  z-index: 2 !important;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform var(--dropdown-toolbar-transition);
}

#navigator-toolbox:hover > #PersonalToolbar{
  transform: rotateX(0);
}

#sidebar-header {
  height: var(--dropdown-toolbar-height);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  z-index: -1;
}

/* Uncollapse sidebar header on hover of navigator-toolbox */
/*
#sidebar-header {
  margin-top: calc(-1 * var(--dropdown-toolbar-height));
  transition: margin-top var(--dropdown-toolbar-transition);
}

#window-modal-dialog-template + box:hover + #browser #sidebar-header {
  margin-top: 0;
}
*/

/* Remove titlebar contents */
.tabbrowser-tab {
  visibility: collapse !important;
}

#tabs-newtab-button {
  display: none;
}


/* Move urlbar content into titlebar */
#navigator-toolbox {
  background: rgb(35, 35, 35) !important;
}

#nav-bar {
  margin-top: -30px;
  margin-left: 36px;
  margin-right: 140px;
  box-shadow: none !important;
}

